<h1>Editing the Teacher</h1>
<%= form_for @teacher do |f| %>
  <%= f.label :name %> : <%= f.text_field :name %><br />

  <%= f.label :age %> : <%= f.text_field :age %><br />

  <%= f.label :experience %> : <%= f.text_field :experience %><br />

  <%= f.submit %>
<% end %>

